        <nav class="navbar navbar-default">
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.navbar" />
            </div>
        </nav>

        <div class="container-fluid visual-image">
            <f:cObject typoscriptObjectPath="lib.visual-image" />
        </div>

        <div class="container-fluid cite-container">
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.randomcite" />
            </div>
        </div>

        <div class="container">
           <div class="row">
               <f:format.raw>{content_header}</f:format.raw>
               <!--<div class="blog-header col-md-12">
                   <h1 class="blog-title">Page headline</h1>
                   <p class="lead blog-description">Page claim</p>
               </div>-->
               <div class="col-md-8">
                   <f:format.raw>{content_main}</f:format.raw>
                   <!--Main content-->
                </div>
                <div class="col-md-4">
                    <f:format.raw>{content_sidebar}</f:format.raw>
                    <!--Aside content-->
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.footer" />
            </div>
        </footer>